.label {
  -fx-font-weight: normal;
  -fx-text-fill: #fff;
  -fx-font-size: 12pt;
  -fx-font-size: 12pt;
  -fx-font-family: 'Bangers', cursive;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
